<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/catalogo.css">
    <title>Catálogo</title>
</head>
<body>
    <nav class="navbar">
        <a href="../views/main.html">
            <div class="logo">
                <img src="../img/imgHeader.png" alt="" srcset="">
                Cinetudo
            </div>
        </a>    
    </nav>
    <div class="container">
        <nav class="navbar2">
            <div class="navOptions">
                <div class="navOption">
                    Lançamentos
                </div>
                <div class="navOption">
                    Categorias
                </div>
                <div class="navOption">
                    Sessões
                </div>
                <div class="navOption">
                    Sessões
                </div>
            </div>
        </nav>
        
        <div class="containerS2">
            <h2>Filmes em cartaz:</h2>
            <div class="filmes">
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>O auto da compadecida 2</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>Divertidamente 2</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>Como eu era antes de você</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>Vingadores ultimato</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>Thor: Ragnarok</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>Spider man 3</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                    <div class="descricao">
                        <h3>Shrek 3º</h3>
                        <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                    </div>
                </div>
                <div class="filme">
                    <div class="banner">
                        <img src="../img/filmeImg.png" alt="" srcset="">
                    </div>
                <div class="descricao">
                    <h3>Como treinar o seu dragrão</h3>
                    <ul>
                            <li>Gênero:</li>
                            <li>Duração:</li>
                            <li>Preço:</li>
                        </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>